* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-open {
    padding: 15px 25px;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.container {
    display: none;
    position: relative;
    width: 35%;
    margin: 0 auto;
    padding: 45px 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.btn-close {
    position: absolute;
    top: 5vh;
    right: 2vw;
}