* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: #025555;
}

.container {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.msg {
    background-color: rgb(233, 241, 215);
    border-radius: 5px;
    color: rgb(58, 100, 91);
    padding: 2rem;
    margin: 1rem;
}
.btn {
    padding: 7px 15px;
    background-color: teal;
    color: gainsboro;
    font-size: larger;
    font-weight: lighter;
    border-radius: 5px;
    outline: none;
}
.btn:hover{
    border-color: #026161;
    background-color: #03aaaa;
    color: #026161;
}